@import "tailwindcss";

@font-face {
  font-family: "Manrope";
  src: url("/webfonts/Manrope/Manrope-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-sans: "Manrope", ui-sans-serif, system-ui;

  --color-primary: #d87d4a;
  --color-primary-light: #fbaf85;

  --color-black-main: #101010;
  --color-black-light: #191919;

  --color-gray-light: #f1f1f1;
  --color-gray-border: #797979;
  --color-gray-hover: #4c4c4c;

  --color-error: #ef4444;

  --color-text-muted: #cfcfcf;
  --color-text-body: #4c4c4c;
  --color-overlay: rgba(0, 0, 0, 0.3);
}

@layer base {
  body {
    @apply min-h-screen overflow-x-hidden relative font-sans;
  }
}

.container {
  @apply max-w-277.5 mx-auto px-10;
}

.standard-smooth {
  @apply transition-all duration-300 ease-in-out cursor-pointer;
}
